@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

*{
  font-family: "Press Start 2P", system-ui;
}

/* .bg-krish{
  background-image: url('/assets/webp/communitycard-white.webp');
} */


.my-swiper .swiper-pagination {
  position: relative !important;
  margin-top: 30.81px !important;
}

.my-slider .swiper-pagination {
  position: relative !important;
  margin-top: 30.81px !important;
}

.swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}